/*--------------------------------------------------------------
# Concentrix - Colors
--------------------------------------------------------------*/

$colorPrimario: #003366;
$colorSecundario: rgb(231, 64, 7);
$colorTerciario: #009999;

$red: #e74007;
$darkOrange: rgb(255, 102, 51);
$orange: rgb(247, 127, 0);
$yellow: rgb(255, 208, 0);
$green: rgb(191, 214, 46);
$gris: #333;

$bg-dark: rgb(51, 51, 51);

$white: #ffffff;
$gradient: linear-gradient(0deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */;